body{
background:url('space.jpg');
backgroung-size:cover;
font-family:Arial;
margin:0;
padding:0;
font-family: sans-serf;

}
	
#sliderbox{
	position:relative;
    width:3200px;
	animation-name:slideranimation;
	animation-duration:20s;
	animation-iteration-count:infinite;
}
#sliderbox img {
	float: left;
}
@keyframes slideranimation {
	0%{
	left:0px;
	}
	20%{
		left:0px;
	}
	25%
	{
		left:-800px;
	}
	45%
	{
		left:-800px;
	}
	50%  /* 10 second */
	{
		left:-1600px;
	}
	70% /* 14 second */
	{
		left:-1600px;
	}
	75% /* 15 second */
	{
		left:-2400px;
	}
	75% /* 15 second */
	{
		left:-2400px;
	}
	
}